[data-scope='toast'][data-part='root'] {
  translate: var(--x) var(--y);
  scale: var(--scale);
  z-index: var(--z-index);
  height: var(--height);
  opacity: var(--opacity);
  will-change: translate, opacity, scale;
  transition:
    translate 400ms,
    scale 400ms,
    opacity 400ms,
    height 400ms,
    box-shadow 200ms;
  transition-timing-function: cubic-bezier(0.21, 1.02, 0.73, 1);

  &[data-state='closed'] {
    transition:
      translate 400ms,
      scale 400ms,
      opacity 200ms;
    transition-timing-function: cubic-bezier(0.06, 0.71, 0.55, 1);
  }
}

[data-scope='toast'][data-part='root'] {
  &[data-type='error'] {
    --at-apply: light:bg-red-100 text-red;
  }

  &[data-type='info'] {
    --at-apply: light:bg-blue-100 text-blue;
  }

  &[data-type='warning'] {
    --at-apply: light:bg-orange-100 text-orange;
  }

  &[data-type='success'] {
    --at-apply: light:bg-green-100 text-green;
  }

  --at-apply: bg-mut shadow-md flex flex-col gap-1.5 rounded p-4 min-w-200px;
}

[data-scope='toast'][data-part='title'] {
  --at-apply: text-sm font-bold;
}

[data-scope='toast'][data-part='description'] {
  --at-apply: text-sm;
}

[data-scope='toast'][data-part='close-trigger'] {
  --at-apply: bg-transparent;
  --at-apply: absolute top-2 right-2;
}